.cowsay-content {
  width: 50vw;
  display: flex;
  justify-content: center;
  .cowsay-content-body {
    margin-top: 5rem;
    height: 20vh;
    textarea {
      max-width: 750px;
      background: none;
      color: white;
      resize: none;
      cursor: default;
    }
  }
  button {
    position: absolute;
    height: 25px;
  }
}
