.cowsay-content {
  display: flex;
  justify-content: center;
  min-width: 10vw;
  .cowsay-content-body {
    height: 20vh;

    textarea {
      background: none;
      resize: none;
      cursor: default;
      padding: 0;
      border: 0;
      outline: none;
      user-select: none;
    }
  }
  button {
    position: absolute;
    height: 25px;
  }
}
