.cowsay-content {
  display: flex;
  justify-content: center;
  min-width: 10vw;
  .cowsay-content-body {
    padding-top: 5rem;
    height: 20vh;
    textarea {
      background: none;
      resize: none;
      cursor: default;
      padding: 0;
      border: 0;
      outline: none;
      user-select: none;
    }
  }
  button {
    outline: none;
    border: 1px solid;
    border-radius: 2px;
    position: absolute;
    height: 25px;
    cursor: pointer;
  }
  button:active {
    background-color: rgba(179, 179, 179, 0.733);
  }
}
