.navbar {
  background-color: rgba(40, 38, 38, 0.973);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  h1 {
    user-select: none;
    color: rgb(62, 213, 112);
  }
  button {
    user-select: none;
    all: unset;
    .icon {
      color: white;
      font-size: x-large;
    }
    .icon:hover {
      color: rgba(255, 255, 255, 0.801);
    }
    .icon:active {
      scale: 1.1;
      color: rgba(255, 255, 255, 0.545);
    }
  }

  button:hover {
    cursor: pointer;
  }
}
